[Unit]
Description=Monasca Log Persister
Requires=network.target
After=network.target

[Service]
Type=simple
User={{ log_persister_user }}
Group={{ log_persister_group }}
Restart=on-failure
ExecStart={{ logstash_dest }}/bin/logstash -f {{ log_persister_conf_file }} -l {{ log_persister_log_dir }}/logs-persister.log --verbose

[Install]
WantedBy=multi-user.target
