description "monasca-log-persister"

start on runlevel [2345]
stop on runlevel [!2345]

respawn

setgid {{ log_persister_group }}
setuid {{ log_persister_user }}

exec {{logstash_dest}}/bin/logstash -f {{ log_persister_conf_file }} -l {{ log_persister_log_dir }}/logs-persister.log --verbose
