input {
    kafka {
        zk_connect => "{{ zookeeper_hosts }}"
        topic_id => "{{ transformed_log_topic }}"
        group_id => "logstash-persister"
        consumer_threads => "{{ log_persister_consumer_threads|int }}"
        fetch_message_max_bytes => "{{ log_persister_fetch_msg_max_bytes|int }}"
    }
}

filter {
    date {
        match => ["[log][timestamp]", "UNIX"]
        target => "@timestamp"
    }

    date {
        match => ["creation_time", "UNIX"]
        target => "creation_time"
    }

    grok {
        match => {
            "[@timestamp]" => "^(?<index_date>\d{4}-\d{2}-\d{2})"
        }
    }

    if "dimensions" in [log] {
        ruby {
            code => "
                fieldHash = event['log']['dimensions']
                fieldHash.each do |key, value|
                    event[key] = value
                end
            "
        }
    }
    if "truncated" not in [log] {
        ruby {
            code => "
                event['log']['truncated'] = false
            "
        }
    }
    mutate {
        add_field => {
            message => "%{[log][message]}"
            log_level => "%{[log][level]}"
            tenant => "%{[meta][tenantId]}"
            region => "%{[meta][region]}"
            truncated => "%{[log][truncated]}"
        }
        remove_field => ["@version", "host", "type", "tags" ,"_index_date", "meta", "log"]
    }
}

output {
    elasticsearch {
        index => "%{tenant}-%{index_date}"
        document_type => "{{ log_persister_index_type }}"
        hosts => [{% for host in elasticsearch_hosts.split(',') %}{% if loop.index > 1 %},{% endif %}"{{host}}"{% endfor %}]
        flush_size => {{ log_persister_flush_size|int }}
    }
}
